<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid red'>
      <h1 class="ui header">Pokemon Trainer Project</h1>
      <div class="ui inverted menu">
        <a class="red item active" href='<%= root_path %>'>Trainers</a>
        <a class="red item" href='<%= teams_path %>'>Teams</a>
        <a class="red item" href='<%= teams_path %>'>Pokemon</a>
        <a class="red item" href='<%= teams_path %>'>Generation</a>
        <a class="red item" href='<%= teams_path %>'>Game</a>
        <a class="red item" href='<%= teams_path %>'>About</a>
        <div class="ui inverted menu">
        <div class="item">
          <%= form_tag(search_results_path, method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
